<header class=" px-5 py-4 border-b border-gray-100 bg-gradient-to-r from-blue-700 to-blue-500 rounded-t-lg">
<h2 class="font-semibold text-white mt-2">Standards</h2>

</header>
<div class="p-3 w-full" style="height: -webkit-fill-available;">
<div class="overflow-y-auto ">
    <table class="table-auto w-full border-spacing-y-6 border-separate  ">
        <thead class="text-xs font-semibold uppercase text-white bg-blue-700">
            <tr>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">Type</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">Rate</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">Registered</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-center">Active</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                <div class="font-semibold text-center">Total Amount</div>
            </th>
            </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-100">
        <% @standards.each do |standard| %>
            <tr >
                <td class="p-2 whitespace-nowrap mt-4">
                    <div class="flex items-center">

                        <div class="font-medium text-gray-800"><%= standard.standard_type%></div>
                    </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                    <div class="text-left"><%= standard.standard_rate%>$</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                    <div class="text-left ">N/A</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                    <div class=" text-center text-sm">
                    <%= standard.active_users %>
                    </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                <div class=" text-center text-sm">
                <%= ((standard.active_users)*(standard.standard_rate)).round(2) %> $
                </div>
            </td>
            </tr>
            
            <%end%>
    </tbody>
    </table>
</div>
</div>
<footer class="flex justify-between px-5 py-4 border-b border-gray-100 bg-gradient-to-r from-blue-700 to-blue-500 rounded-b-lg">
<h2 class="font-semibold text-white mt-2">Total</h2>
<h2 class="font-semibold text-white mt-2"><%= @standards_bill%> $</h2>

</footer>