


<tr class="">
<%= form_with(model: user,data:{turbo:false}) do |f| %>
<td class="border-b border-slate-100 dark:border-slate-700 p-1  text-black font-semibold"><%= user.user_type%></td>
<td class="border-b border-slate-100 dark:border-slate-700 p-1 text-slate-500 dark:text-slate-400">
    
    <%= f.number_field :user_rate,value:user.user_rate ,id:"user-rate-#{user.id}",class:"w-16 border-transparent text-sm rounded-lg even:bg-gray-100 ",disabled:true %>
    
</td>
<td class="border-b border-slate-100 dark:border-slate-700 p-1 text-slate-500 dark:text-slate-400 text-center">N/A</td>
<td class="border-b border-slate-100 dark:border-slate-700 p-1 text-slate-500 dark:text-slate-400">
   
    <%= f.number_field :active_users,value:user.active_users ,id:"user-active-#{user.id}",class:"border-transparent rounded-md text-sm w-14 ",disabled:true %>

    
</td>
<td class="border-b border-slate-100 dark:border-slate-700 p-1 text-slate-500 dark:text-slate-400 text-center"><%= ((user.active_users)*(user.user_rate)).round(2) %></td>
<td class="border-b border-slate-100 dark:border-slate-700 p-1  text-slate-500 dark:text-slate-400">
<div class="flex text-center text-sm">
<%=button_tag "Edit",type:"button",id:"user-button-#{user.id}",onclick:"userFunction(#{user.id})",class:"text-indigo-600 hover:bg-indigo-600 hover:text-white p-2  rounded-md text-white mr-2" %> 
<%= f.submit "Save", id:"user-save-#{user.id}",class:"bg-indigo-600  hover:bg-indigo-700 p-2  rounded-md text-white mr-2 hidden" %>
<%=button_tag "X",type:"button",id:"user-undo-#{user.id}",onclick:"undoUser(#{user.id})",class:"bg-white border border-indigo-600 hover:bg-indigo-700 hover:text-white p-2  rounded-md text-indigo-600 mr-2 hidden" %> 
</div>
</td>
  
</td>
<%end%>
</tr>


