<div class="w-11/12    shadow-lg rounded-lg   m-auto mt-4 p-6  flex flex-col bg-white">
            <header class=" flex justify-between pb-5  px-4 rounded-t-lg  ">
                <h2 class="font-bold   text-black text-3xl">Clients</h2>
                <%= form_with scope: :client, url: clients_path, method: :get, local: true,data:{turbo: false},class:"flex justify-between" do |f| %>
                    <%= f.text_field :company_name, placeholder:"Company name", class:" block w-full border border-slate-400 md-white focus:bg-gray-100 focus:border-none rounded-md shadow-lg mr-4" %>
                    <%= f.submit 'Search',class:"bg-indigo-600 hover:bg-indigo-700 w-1/2  rounded-md text-white mr-2" %>
                    <%= f.submit 'All',class:"bg-white w-1/2  rounded-md text-indigo-600 hover:bg-indigo-700 hover:text-white border border-indigo-600" %>
                    <%end%>
            </header>
           
          
            <div class="h-11/12 shadow-sm  rounded-xl  bg-gray-300 overflow-y-auto " style="max-height:450px"  >
              <table class="border table-auto w-full text-sm "  >
                <thead class="uppercase  bg-gray-200 border border-gray-300 " >
                  <tr>
                    <th class="border-b dark:border-slate-400 font-semibold px-4  py-4   dark:text-slate-200 text-left">Company Name</th>
                    <th class="border-b dark:border-slate-600 font-semibold px-4 py-4   dark:text-slate-200 text-left">Name</th>
                    <th class="border-b dark:border-slate-600 font-semibold px-4 py-4   dark:text-slate-200 text-left">Address</th>
                    <th class="border-b dark:border-slate-600 font-semibold px-4  py-4   dark:text-slate-200 text-left"></th>
                  </tr>
                </thead>
                
                <tbody class="relative bg-white dark:bg-slate-800   " >
              
                  <%= render @clients %>
                </tbody>
              </table>
            </div>
          
            
</div>





