<div class="flex flex-col  bg-gray-100 rounded-lg " style="max-height:91vh;height:91vh;margin-bottom:20px">

   <%= render "clients/client_info" %>
   <%= render "clients/search_form" %>
    <div class=" flex justify-center mx-2  bg-white p-4 " style="height:75%">
    
        
            <div class=" flex flex-col justify-between w-1/2  mx-2 bg-white  rounded-lg ">
            <%= render "clients/users" %>
            </div>
            <div class=" flex flex-col justify-between w-1/2  mx-2 bg-white  rounded-lg ">
            <%= render "clients/standards" %>
            </div>
            
    </div>
    <div class="flex flex-col">
            <%= render "clients/total" %>
            </div>
   
 
  <%= render "clients/create_bill_form" %>
  

</div>