<table class="min-w-full  divide-slate-500">
       <thead class="bg-slate-400 ">
        <tr class="uppercase font-semibold">
         <th  class="  font-semibold text-sm font-normal text-white p-4">
          Date
         </th>
         <th class=" font-semibold  text-sm font-normal text-slate-700 text-white p-4">
          Description
         </th>
         <th  class=" font-semibold text-sm font-normal  text-white p-4">
          Quantity
         </th>
         <th  class=" font-semibold text-sm font-normal  text-white p-4">
          Rate
         </th>
         <th  class=" font-semibold text-sm font-normal  text-white p-4">
         Amount
        </th>
        </tr>
       </thead>
       <tbody>
       <% @client.users.where(year:@bill.year,month:@bill.month).find_each do |user| %>
        <tr class="border-b border-slate-200">
         <td class=" text-sm sm:pl-6 md:pl-0 text-center">
          <div class="font-medium text-slate-700"></div>
          <div class="mt-0.5 text-slate-500 sm:hidden">
           
          </div>
         </td>
         <td class="hidden  py-4 text-sm text-center text-black font-semibold sm:table-cell">
          <%= user.user_type %>
         </td>
         <td class="hidden  py-4 text-sm text-center text-slate-500 sm:table-cell">
         <%= user.active_users %>
         </td>
         <td class="  text-sm text-center text-slate-500 sm:pr-6 md:pr-0">
         <%= user.user_rate %>
         </td>
         <td class="  text-sm text-center text-slate-500 sm:pr-6 md:pr-0">
         <%= ((user.active_users)*(user.user_rate)).round(2)  %>
        </td>
        
        </tr>
        <%end%>
        <% @client.standards.where(year:@bill.year,month:@bill.month).find_each do |standard| %>
          <tr class="border-b border-slate-200">
           <td class=" text-sm sm:pl-6 md:pl-0 text-center">
            <div class="font-medium text-slate-700"></div>
            <div class="mt-0.5 text-slate-500 sm:hidden">
             
            </div>
           </td>
           <td class="hidden  py-4 text-sm text-center text-black font-semibold sm:table-cell">
            <%= standard.standard_type %>
           </td>
           <td class="hidden  py-4 text-sm text-center text-slate-500 sm:table-cell">
           <%= standard.active_users %>
           </td>
           <td class="  text-sm text-center text-slate-500 sm:pr-6 md:pr-0">
           <%= standard.standard_rate %>
           </td>
           <td class="  text-sm text-center text-slate-500 sm:pr-6 md:pr-0">
           <%= ((standard.active_users)*(standard.standard_rate)).round(2)  %>
          </td>
          
          </tr>
          <%end%>
        
     
      </table>