<section class="py-20 bg-gray-100">
 <div class="max-w-5xl mx-auto py-16 bg-white rounded-md">
  <article class="overflow-hidden">
   <div class="bg-[white] rounded-b-md  ">
    <div class="p-9 flex justify-between">
     <div class="space-y-6 text-slate-700">
      

      <p class="text-xl  tracking-tight  font-body">
      <p class="font-bold">inField Clipboard Inc o/a inField Solutions</p>
      3600 Steeles Ave East<br>
      Markham ON L3R 9Z7<br>
      +1 8334634353<br>
      Billing@inFieldSolutionsInc.com<br>
      www.inFieldSolutionsInc.com<br>
      GST/HST Registration No.: 737197897<br>
      Business Number 737197897RT001<br>
      
      </p>
     </div>
    <div class="mr-6">
    <%= image_tag("infield.png")%>
    </div>
    </div>
    <div class="grid grid-cols-2 p-9 ">
     <div class="space-y-6 text-slate-700">
      

      <p class="text-xl  tracking-tight  font-body">
      <p class="font-bold">Bill To</p>
      <%= @client.name %><br>
    <%= @client.company_name %><br>
 
    <%= @client.address %><br>
      
      </p>
     </div>
     <div class="flex flex-col justify-between mr-2">
     <div class="bg-slate-400 text-2xl font-bold text-white uppercase pl-2"> Invoice <%= @bill.id%></div>
     <div class="bg-slate-400   text-white pl-2 flex"><p class="font-bold text-xl mr-1"> DATE </p> <p class="text-md mr-2 mt-0.5">2023.01.01</p> <p class="font-bold text-xl mr-1"> Terms </p><p class="text-md mr-2 mt-0.5"> Due on receipt</p></div>
     <div class="bg-slate-400  text-white pl-2 flex"> <p class="font-bold text-xl mr-1">DUE DATE</p> <p class="text-md mr-2 mt-0.5">2023.01.01</p>
     </div>
     
     </div>
    </div>
    <hr class="h-0.2 bg-slate-200 mx-12">
    <div class="p-9">
     <div class="flex flex-col mx-0 mt-8">
      <%= render "bills/table" %>
      <%= render "bills/total_due" %>
      
  
      </div>
      <div class="flex flex-col">
      <%= render "bills/tax_summary" %>
     </div>
 
    </div>
    
    <div class=" p-9">
     <div class="border-t pt-9 border-slate-200">
      <div class="text-sm font-light text-slate-700">
       <p class="text-center text-lg font-semibold">
       Thank you for your business! 
       </p>
      </div>
     </div>
    </div>
   </div>
  </article>
 </div>
</section>
<div class="text-center mb-6">
<% if logged_in? %>
<%= button_to "Send Bill by email",send_bill_mail_path(id:@bill.id), class:"bg-orange-400 text-white p-2 rounded-md ",data:{turbo_confirm: "Are you sure ?"} %>
</div>
<%end%>